
.testimonial blockquote {
  margin: 10px 10px 0;
  background: light-dark(#f0f2f6, #262730);
  padding: 10px 30px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 30px;
  line-height: 1;
  color: #818496;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
}

.author p{
  font-weight: bold;
  font-size: 25px;
}
