@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

.step-bar-container {
	--color-background: light-dark(#fafafa, #0e1117);
	--color-gray: light-dark(#d6d6d9, #606060);
	--color-gray-text: light-dark(#c4c4c7, #808080);
	--color-primary: #ff4b4b;
	--color-text: light-dark(#33313f, #fafafa);
	--height-bar: 4px;
	--margin-substep: 8px;
	--size-icon: 20px;
	--size-substep-bullet: 5px;
	display: flex;
	justify-content: space-between;
}

.step-container {
	display: flex;
	flex: 1 1 0px;
	flex-direction: column;
	text-align: center;
	width: 0;
}

/* Main steps */

.step-container .main-step {
	color: var(--color-gray-text);
	text-decoration: none;
}

.step-container .main-step:hover {
	text-decoration: underline;
}

.step-container .main-step.reached {
	color: var(--color-primary);
}

.step-container .main-step.current {
	font-weight: bold;
}

/* Icons */

.step-container .icon {
	color: var(--color-gray);
	display: inline-block;
	font-family: "Font Awesome 6 Free";
	font-size: var(--size-icon);
	font-weight: 900;
	height: var(--size-icon);
	line-height: calc(1.04 * var(--size-icon));
	text-decoration: none;
	width: 100%;
}

.step-container .icon::after {
	content: "";
	position: relative;
	z-index: 1;
}

.step-container .icon.incomplete::after {
	content: "";
}

.step-container .icon.completed::after {
	content: "";
}

.step-container .icon.reached {
	color: var(--color-primary);
}

.step-container .icon.current {
	font-weight: 400;
}

/* Progress bar */

.step-container .icon::before {
	content: "";
	background-color: var(--color-gray);
	display: block;
	height: var(--height-bar);
	margin: calc(-0.5 * var(--height-bar)) 0;
	position: relative;
	right: calc(50% - 0.5 * 0.95 * var(--size-icon));
	top: 50%;
	width: calc(100% - 0.95 * var(--size-icon));
}

.step-container:first-child .icon::before {
	width: 0;
}

.step-container .icon.reached::before {
	background-color: var(--color-primary);
}

/* Substeps */

.step-container .substep {
	color: var(--color-gray-text);
	display: block;
	font-size: 0.9em;
	left: calc(50% + var(--margin-substep));
	position: relative;
	text-align: left;
	text-decoration: none;
	width: fit-content;
	z-index: 1;
}

.step-container .substep.reached {
	color: var(--color-text);
}

.step-container .substep.current {
	font-weight: bold;
}

.step-container .substep:hover {
	text-decoration: underline;
}

.step-container:last-child .substep {
	text-align: right;
	right: calc(50% + var(--margin-substep));
	left: auto;
	width: 100%;
	z-index: 0;
}

/* Substep bullet points */

.step-container .substep::before,
.step-container:last-child .substep::after {
	color: var(--color-gray);
	content: "";
	display: inline-block;
	font-family: "Font Awesome 6 Free";
	font-size: var(--size-substep-bullet);
	font-weight: 900;
	left: calc(0.5px - 0.5 * var(--size-substep-bullet) - var(--margin-substep));
	margin-right: calc(-1 * var(--size-substep-bullet));
	position: relative;
	top: -0.4em;
}

.step-container .substep.reached::before,
.step-container:last-child .substep.reached::after {
	color: var(--color-text);
}

.step-container:last-child .substep::before {
	content: "";
}

.step-container:last-child .substep::after {
	left: auto;
	margin-left: calc(-1 * var(--size-substep-bullet));
	margin-right: auto;
	right: calc(-0.5px - 0.5 * var(--size-substep-bullet) - var(--margin-substep));
}

/* Substep lines */

.step-container .substeps::after {
	background-color: var(--color-gray);
	content: "";
	display: block;
	height: calc(100% - 0.65em);
	left: 50%;
	position: relative;
	top: -100%;
	width: 1px;
}

.step-container .substeps.reached::after {
	background-color: var(--color-text);
}
